__pycache__/
.gradle/
.idea/
.metals/
.next/
.parcel-cache/
.vs/
.vscode/
bin/
binaries/
build/
node_modules/
obj/
saved/
target/

.DS_Store
.env
*.crt
*.csproj
*.filters
*.fsproj
*.key
*.log
*.make
*.mwb.bak
*.pem
*.sln
*.user
*.vcxproj
*.vpp.*
*.wasm
*.xcodeproj
*.xcworkspace
Cargo.lock
desktop.ini
keystore.jks
local.properties
Makefile
next-env.d.ts
